.bg-slider, .bg-slider:after {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0; }
.bg-slider:after {
  content: '';
  background: transparent url(../img/pattern.png) repeat top left; }
.bg-slider li span {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  -webkit-animation: bg-slider-bg 36s linear infinite 0s;
          animation: bg-slider-bg 36s linear infinite 0s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
.bg-slider li:nth-child(1) span {
  background-image: url(../img/bg-slider/1.jpg); }
.bg-slider li:nth-child(2) span {
  background-image: url(../img/bg-slider/2.jpg);
  -webkit-animation-delay: 6s;
          animation-delay: 6s; }
.bg-slider li:nth-child(3) span {
  background-image: url(../img/bg-slider/3.jpg);
  -webkit-animation-delay: 12s;
          animation-delay: 12s; }
.bg-slider li:nth-child(4) span {
  background-image: url(../img/bg-slider/4.jpg);
  -webkit-animation-delay: 18s;
          animation-delay: 18s; }
.bg-slider li:nth-child(5) span {
  background-image: url(../img/bg-slider/5.jpg);
  -webkit-animation-delay: 24s;
          animation-delay: 24s; }
.bg-slider li:nth-child(6) span {
  background-image: url(../img/bg-slider/6.jpg);
  -webkit-animation-delay: 30s;
          animation-delay: 30s; }

@-webkit-keyframes bg-slider-bg {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    opacity: 0; } }

@keyframes bg-slider-bg {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }

  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }

  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

  100% {
    opacity: 0; } }

li div {
  opacity: 0;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 1000;
  -webkit-animation: bg-slider-text 36s linear infinite 0s;
          animation: bg-slider-text 36s linear infinite 0s; }
  li div h3 {
    color: rgba(169, 3, 41, 0.8);
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    line-height: 200px;
    padding: 0; }
li:nth-child(2) div {
  -webkit-animation-delay: 6s;
          animation-delay: 6s; }
li:nth-child(3) div {
  -webkit-animation-delay: 12s;
          animation-delay: 12s; }
li:nth-child(4) div {
  -webkit-animation-delay: 18s;
          animation-delay: 18s; }
li:nth-child(5) div {
  -webkit-animation-delay: 24s;
          animation-delay: 24s; }
li:nth-child(6) div {
  -webkit-animation-delay: 30s;
          animation-delay: 30s; }

@-webkit-keyframes bg-slider-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px); }
  8% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  19% {
    opacity: 0; }
  25% {
    opacity: 0;
    -webkit-transform: scale(10);
            transform: scale(10); }
  100% {
    opacity: 0; } }

@keyframes bg-slider-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px); }

  8% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

  17% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }

  19% {
    opacity: 0; }

  25% {
    opacity: 0;
    -webkit-transform: scale(10);
            transform: scale(10); }

  100% {
    opacity: 0; } }
