@import 'mixins';


$slider1: (
    name:   'bg-slider',
    slides: 6
);


@include background-slider($slider1);

@include text-slider($slider1);

body {
    background: #000;
    margin: 0;
}

.bg-slider {
    margin: 0;
    list-style: none;

    li {
        div {
            position: absolute;
                bottom: 30px;
                left: 0px;
            text-align: center;

            h3 {
                color: rgba(255, 255, 255, .8);
                font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
                font-size: 240px;
                line-height: 200px;
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 { font-size: 50px }
}